DATABASE_URL=
CLERK_SECRET_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
ANTHROPIC_API_KEY=
PORT=3000
APP_URL=https://app.vetoai.fr
SESSION_SECRET=
DEFAULT_OBJECT_STORAGE_BUCKET_ID=
PRIVATE_OBJECT_DIR=
PUBLIC_OBJECT_SEARCH_PATHS=
RESEND_API_KEY=
